# Define the root logger
#log4cplus.rootLogger=DEBUG, rootAppender
# Define a file appender named "fileAppender"
#log4cplus.appender.rootAppender=log4cplus::RollingFileAppender
#log4cplus.appender.rootAppender.File=log/tss.log
#log4cplus.appender.rootAppender.MaxFileSize=1MB
#log4cplus.appender.rootAppender.MaxBackupIndex=15
#log4cplus.appender.rootAppender.Encoding=UTF-8
#log4cplus.appender.rootAppender.layout=log4cplus::PatternLayout
#log4cplus.appender.rootAppender.layout.ConversionPattern=[%p] [%l] [PID:%i] [TID:%t] [%D] - %m %n

log4cplus.logger.tracker_srv=DEBUG, routerAppender
log4cplus.appender.routerAppender=log4cplus::RollingFileAppender
log4cplus.appender.routerAppender.File=log/tracker_srv.log
log4cplus.appender.routerAppender.MaxFileSize=1MB
log4cplus.appender.routerAppender.MaxBackupIndex=15
log4cplus.appender.routerAppender.Encoding=UTF-8
log4cplus.appender.routerAppender.layout=log4cplus::PatternLayout
log4cplus.appender.routerAppender.layout.ConversionPattern=[%p] [%l] [PID:%i] [TID:%t] [%D] - %m %n

